<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {% comment %} Unicode range used, below commented. {% endcomment %}
    {% comment %}<link rel="preload" href="{{ 'GT-Super-Display-Light.woff2' | asset_url }}" as="font" type="font/woff2" crossorigin>{% endcomment %}
    {% comment %}<link rel="preload" href="{{ 'GT-Super-Text-Book.woff2' | asset_url }}" as="font" type="font/woff2" crossorigin>{% endcomment %}
    {% comment %}<link rel="preload" href="{{ 'Platform-Regular-Web.woff2' | asset_url }}" as="font" type="font/woff2" crossorigin>{% endcomment %}

    <link rel="preload" href="{{ 'fonts.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'bundle.min.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'glider.1.7.4.min.css' | asset_url }}" as="style">

    <link rel="preload" href="{{ 'glider.1.7.4.min.js' | asset_url }}" as="script">
    <link rel="preload" href="{{ 'glider-component.js' | asset_url }}" as="script">
    <link rel="preload" href="{{ 'axios.0.27.2.min.js' | asset_url }}" as="script">
    <link rel="preload" href="{{ 'main.js' | asset_url }}" as="script">
    <link rel="preload" href="{{ 'alpine.3.10.2.min.js' | asset_url }}" as="script">

    <link rel="stylesheet" href="{{ 'fonts.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'bundle.min.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'glider.1.7.4.min.css' | asset_url }}" />

    {{ content_for_header }}
  </head>

  <body x-data="{ exploded: (window.pageYOffset > 50) ? false : true, mobileMenuOpen: false }" @scroll.window="exploded = (window.pageYOffset > 50) ? false : true" class="transition-colors h-[200vh]" :class="{ 'bg-blue': exploded, 'bg-cream': !exploded }">
    {% section 'header' %}
    <main role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
    <script defer src="{{ 'glider.1.7.4.min.js' | asset_url }}"></script>
    <script defer src="{{ 'glider-component.js' | asset_url }}"></script>
    <script defer src="{{ 'axios.0.27.2.min.js' | asset_url }}"></script>
    <script defer src="{{ 'main.js' | asset_url }}"></script>
    <script defer src="{{ 'alpine.3.10.2.min.js' | asset_url }}"></script>
  </body>
</html>
